@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&family=Red+Hat+Display:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}

.nav-bar{
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 72px;
    position: fixed;
}

.nav-logo{
    color: white;
    margin-left: 45px;
    margin-top: 16px;
    font-size: 28px;
    position: absolute;
}

a{
    text-decoration: none;
    float: right;
    color: white;
    margin-right: 24px;
    margin-top: 24px;
    font-size: 16px;
}

a:hover{
    text-shadow: 0 0 .25rem rgba(255, 255, 255, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5);
}

.nav-links{
    margin-right: 45px;
}
.banner{
    display: flex;
}

img{
    background-size: cover;
    width: 100%;
    
}

.about-menu{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 600px;
}

.about-menu h1{
    color: rgb(26, 26, 26);
    text-align: center;
    margin-top: 50px;
}

.about-menu p{
    color: rgb(26, 26, 26);
    text-align: center;
    margin-top: 30px;
}

.about-menu img{
    width: 400px;
    margin-top: 80px;
    float: right;
    margin-right: 120px;
    display: flex;
}

.about-text h1{
    float: left;
    margin-top: 180px;
    margin-left: 350px;
    color: blue;

}

.about-p p{
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 110px;
}


.about-text{
    width: 750px;
    height: auto;
    float: left;
}

.contact-menu{
    width: 100%;
    height: 600px;
    background-color: rgb(224, 224, 224);
}

.contact-text{
    width: 750px;
    height: auto;
    float: right;
}

.contact-text h1{
    float: right;
    margin-top: 85px;
    margin-right: 370px;
    color: rgb(255, 145, 0);
}

.contact-text p{
    margin-left: 85px;
    text-align: center;
    margin-top: 20px;
    margin-right: 190px;
    display: inline-block;
}

.contact-menu img{
    width: 400px;
    margin-top: 150px;
    float: left;
    margin-left: 120px;
}

.button-62 {
  background: linear-gradient(to bottom right, #4760ef, #655aff);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 124, 239, 0.5), .125rem .125rem 1rem rgba(120, 90, 255, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 177, 239, 0.5), .125rem .125rem 1rem rgba(90, 142, 255, 0.5);
}

.button-62{
    float: right;
    margin-top: 16px;
    margin-left: 12px;
    
}

.dc img{
    margin-top: 15px;
    margin-right: 195px;
}